/* styles/base/reset.css */
* {
  border-color: var(--color-border);
}

html {
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light;
}

body {
  background-color: var(--color-background) !important;
  color: var(--color-foreground) !important;
  font-family:
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
}
